html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Hack, monospace;

}
h1 {
  font-size: 30px;
  padding: 10px 30px;
}
pre {
  padding: 15px;
}
.color {
  height: 6.25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  height: 75px;
  width: 75px;
  margin: 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
p {
  padding: 0 20px;
  font-size: 12px;
  color: #0b232d;
}
a {
  text-decoration: none;
  color: #20b1f4;
}

.color00 {
  background: #0b232d;
}
.color01 {
  background: #163d52;
}
.color02 {
  background: #205874;
}
.color03 {
  background: #29708d;
}
.color04 {
  background: #bdbda3;
}
.color05 {
  background: #e2e2ce;
}
.color06 {
  background: #f3f3e7;
}
.color07 {
  background: #ffffff;
}
.color08 {
  background: #ea4a57;
}
.color09 {
  background: #ffb74d;
}
.color10 {
  background: #f7e26a;
}
.color11 {
  background: #37c573;
}
.color12 {
  background: #41eee0;
}
.color13 {
  background: #20b1f4;
}
.color14 {
  background: #9575cf;
}
.color15 {
  background: #f369b1;
}

.text00 {
  color: #0b232d;
}
.text01 {
  color: #163d52;
}
.text02 {
  color: #205874;
}
.text03 {
  color: #29708d;
}
.text04 {
  color: #bdbda3;
}
.text05 {
  color: #e2e2ce;
}
.text06 {
  color: #f3f3e7;
}
.text07 {
  color: #ffffff;
}
.text08 {
  color: #ea4a57;
}
.text09 {
  color: #ffb74d;
}
.text10 {
  color: #f7e26a;
}
.text11 {
  color: #37c573;
}
.text12 {
  color: #41eee0;
}
.text13 {
  color: #20b1f4;
}
.text14 {
  color: #9575cf;
}
.text15 {
  color: #f369b1;
}

